/* IMPORTANT */
body {
  background-color: #181818;
  width: 100vw;
  height: 100vh;

  margin: 0;

  font-family: 'League Spartan', sans-serif;
  font-size: 10ex;
  color: white;

  overflow: hidden;
  }

  .container{
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow: scroll;

    width: 100%;
    height: 100%;

    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }

  .container::-webkit-scrollbar { 
    display: none;
}

  section{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scroll-snap-align: center;
    position: relative;
  }

  .imp{ 
    text-align: center; 
  }

  h2{
    color: rgb(255, 255, 83);
    text-shadow: 5px 5px 5px black;
  }

  button{
    top: -9vh;
    box-shadow: 5px 5px 5px black;
  }


/*-----------------------------------------------------------*/


/* FIXES */
  h2,h6{
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a::after{
    text-decoration: none;
    color: white;
  }

  
/*-----------------------------------------------------------*/



  /* ANIMATIONS */

  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 10vw;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover{
  opacity: .75;
}
/*-----------------------------------------------------------*/